#canvas{
    position: relative;
    background-image: url('america.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color : rgb(201, 136, 255);
}
#control{
    position: absolute;
    top: 85%;
    left: 45%;
    color: rgb(199, 186, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
}